{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Main page
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="bar">        
        {% include 'includes/navbar.html' %} 
    </div>
    {% block content %}
        <img id="mainimg" src="{% static 'images/image.png' %}" >
    
        <div class="label">
            <h2>Portfolio is a website, where you can share and view others' posts</h2>
            <p>Welcome to our portfolio blog website! Here, you will find a curated collection of inspiring portfolios from talented individuals across various industries. Whether you are a designer, photographer, writer, or artist, our platform offers a diverse range of portfolios to explore and draw inspiration from. Discover unique styles, innovative techniques, and captivating projects that showcase the creativity and expertise of these talented professionals. Our blog also features insightful articles, interviews, and tips to help you enhance your own portfolio and stand out in the competitive world of creative professions. 
                Join our community of like-minded individuals and embark on a journey of discovery, inspiration, and growth.</p>
        </div>
        <h3 id="centre">Recent posts</h3>
        
        {% for post in posts %}
            <div class="post">
                <a href="{% url 'post_detail' post.pk %}"><img class="postimg" src="{{ post.image.url }}" alt="post"/></a>
                <h3 id="title">{{ post.title }}</h3>
                <h6>{{ post.created }}</h6>
                <p>{{ post.description|truncatechars:50 }}</p>
                <p>by {{ post.author }}</p>
            </div>
        {% endfor %}
        <div class="btn">
            <button class="button" type="button"><a id="none-a" href="{% url 'post' %}">Load More</a></button>
        </div>
    {% endblock %}
</body>
</html>