@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    
}
.img {
    height: 70px;
    width: 140px;
}



#mainimg {
    margin-left: 3px;
    position: absolute;
}



#centre {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.label {
    position: relative;
    background-color:white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 400px;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    width: 1120px;
    height: 260px;
}

.label h2 {
    font-size: 23pt;
}

.label p {
    font-size: 13pt;
}

.postimg {
    height: 300px;
    width: 450px;
}

.post {
    position: relative;
    background-color: #f8f9fa;
    display: inline-block;
    text-align: center;
    margin-bottom: 200px;
    margin-left: 200px;
}

.post p {
    text-align: left;
}
.post h3 {
    text-align: left;
}
.post h6 {
    margin-top: 10px;
    text-align: left;
}
#postlisth1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
    color:#e38030;
}

#cen {
    text-align: center;
}

.button {
  background-color: #e38030;
  border: 1px solid #e38030;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 40px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 660px;
  
}

.button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
  
}

#none-a {
    all: unset
}

.loggg {
    text-align: center;
}



#signup {
    color: #e38030;
}

#icon {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.pd_image {
    height: 500px;
    width: 800px;
    margin-left: 350px;
}

#ptitle {
    margin-left: 350px;

}
#pdesk {
    margin-left: 350px;
    margin-right: 350px;
}


.updel {
    background-color: #e38030;
    border: 1px solid #e38030;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 40px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#du {
    margin-left: 350px;
}

#add {
    margin-top: 50px;
 }



@media screen and (max-width: 500px){
    #mainimg {
        width: 100%;
        margin:auto;
    }
    .label {
        width: 350px;
        height: 150px;
        margin: auto;
        margin-top: 60px;

    }
    .label h2 {
        font-size: 8pt;
    }
    .label p {
        font-size: 5pt;
    }
    .postimg {
        width: 300px;
        height: 150px;
    }
    .post {
        margin: auto;
        margin-left: 65px;
        margin-top: 50px;
        font-size: 8pt;
    }
    .post h3 {
        font-size: 15pt;
    }
    .post h6 {
        font-size: 8pt;
    }
    .button {
        margin-top: 50px;
        margin-left: 100px;
    }
    .pd_image {
        width: 350px;
        height: auto;
    }
    .pd_image {
        margin-left: 40px;
    }
    #ptitle {
        margin-left: 40px;
    }
    #pdesk {
        margin-left: 40px;
        width: 300px;
    }
    #du {
        margin: auto;
        margin-left: 35px;
    }
    
}
.svgs {
    text-decoration: none !important;
}