{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="loggg">
        <h1 id="postlisth1">Log in</h1>
            <div id="loginout">
                <p>If you don't have an account, please <a id="signup" href="{% url 'register' %}">sign up</a></p>
                <form action="" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <p>
                        <input class="updel" type="submit" value="Log in">
                    </p>
                </form>
            </div>
    </div>
    <br>
{% endblock %}